<div style="width:100%" class="card card-body bg-light center">

<div class="centerText" style="padding-top:30vh;">
<h1 class="display-4">Available IPv4 addresses</h1>
<h1 class="display-1">{{count}}</h1>
<h1 class="display-4">Days left: {{count2}}</h1>
</div>





<img class="fontyslogo" style="height:7.5vmax; width:7vmax;" src="https://fontys.nl/upload/c0435a6c-c08a-4d41-81c4-708521785a01_image3600009228556848948.png" alt="Italian Trulli">
</div>
<div class="button" class="btn btn-light" (click)="timeRevert()">realtime</div>
<div class="button" class="btn btn-light" (click)="timeChange()">1s = 1 dag</div>



